PORT=
MONGO_URI=
FIREBASE_SERVICE_ACCOUNT=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=innovatex
CLOUDINARY_UPLOAD_PRESET=
NODE_ENV=development
FRONTEND_URL=
RENDER_URL=